/* footer-part-start */

#style_craze_footer_part_flex {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5% 10%;

  background-color: hsl(0, 0%, 94%);
}
#style_craze_footer_part_flex p + img {
  height: 60px;
  width: 50%;
}
#footer_part_copyright_content {
  padding: 10px 10%;
  text-align: center;
  background-color: rgb(230, 230, 230);
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  /* body part start */

  #style_craze_body_part_slider {
    grid-template-columns: repeat(1, 1fr);

    height: auto;
    border: 1px solid green;
  }
  .style_craze_body_part_socialmedia {
    display: none;
  }
  #style_craze_body_part_makeup_whole {
    border: 10px solid green;
    height: auto;
  }
  #style_craze_body_part_makeup {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  #makeup_bottom_three_divs {
    grid-template-columns: repeat(1, 1fr);
  }
  #makeup_bottom_three_divs img {
    width: 100%;
  }
  #style_craze_body_part_hair_care {
    border: 5px solid green;
    height: auto;
    width: 100%;
    left: 0px;
  }
  #style_craze_body_part_hair_care_main {
    display: grid;
    text-overflow: ellipsis;
  }
  #style_craze_body_part_hair_care_main img {
    width: 100%;
  }
  #style_craze_body_part_hair_care_main
    .style_craze_body_part_hair_care_main_desc {
    border: 3px solid rgb(26, 29, 26);
    width: 400px;
    text-overflow: ellipsis;
  }
  .style_craze_body_part_hair_care_main_desc h3 {
    border: 4px solid gray;
    width: 100%;
    text-overflow: ellipsis;
  }
  #style_craze_body_part_hair_care_main > div:nth-child(2) {
    border: 10px solid green;
    left: 0px;
    width: 100%;
    bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #style_craze_body_part_hair_care_two_divs {
    display: none;
  }
  #whole_body_part_style_craze {
    height: auto;
    border: 1px solid red;
  }
  #style_craze_media_press {
    display: grid;
    border: 3px solid red;
  }
  #style_craze_media_press > div {
    border: 3px solid green;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #style_craze_media_press > div img {
    margin: 20px;
  }
  #style_craze_product_review {
    border: 3px solid green;
    width: 100%;
    height: auto;
    left: 0px;
  }
  #product_review_flex {
    display: grid;
  }
  #medical_review_start {
    border: 3px solid red;
    height: auto;
  }
  #medical_review_start_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  #style_craze_footer_part_flex {
  }
  #style_craze_testimonals {
    height: auto;
    border: 3px solid red;
  }
  #style_craze_testimonals_flex {
    display: grid;
    justify-content: center;
  }
  #style_craze_footer_part_flex {
    grid-template-columns: repeat(1, 1fr);
  }
}
