* {
  padding: 0px;
  margin: 0px;
  font-family: Poppins, Poppins-Hindi, sans-serif;
  line-height: 34px;
  color: #333333;
}
/* header start */
#style_craze_header {
  width: 100%;
  height: 100px;
  position: fixed;

  z-index: 10;
  top: 0px;
  background-color: white;
}

#first_header_logo {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}
#first_header_logo > div {
}
#first_header_logo > div:nth-child(3) {
  position: static;

  width: 250px;
}
/* mobile part */
#style_craze_menu {
  visibility: hidden;
  width: 30px;
  height: 40px;
}
#style_craze_menu img {
  width: 100%;
  height: 100%;
}

#style_craze_header_search_input {
  width: 90%;
  height: 30px;
  border-radius: 50px;
  color: gray;
  padding-left: 20px;
  outline: none;
  border: 2px solid rgb(150, 146, 146);
}
#style_craze_header_search_btn {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 80%;
  top: 0px;
}
#second_header_categories {
  display: flex;
  height: 40px;

  justify-content: center;
  align-items: center;
}
.second_header_categories_middle_line {
  margin: 0px 8px;
  height: 50%;
  border: 0.5px solid rgb(247, 14, 149);
}
#display_makeup_hide {
  position: absolute;
  height: auto;
  width: 100%;
  display: none;
}

#header_makeup_btn:hover #display_makeup_hide {
  display: block;
}

/* hover-over part start */
#style_craze_hover-over-part {
  position: absolute;
  visibility: visible;

  display: grid;
  margin: auto;

  width: 70%;
  height: auto;
  background-color: white;
}

#style_craze_hover-over-part-first {
  padding: 0px 20px;
  display: flex;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: rgb(248, 246, 246);
}
#style_craze_hover-over-part-first > div {
  display: flex;
  width: 15%;
  box-sizing: content-box;
  height: 40px;

  text-align: center;
  justify-content: center;
  align-items: center;
}
#style_craze_hover-over-part-second-flex {
  display: flex;
  height: 250px;
  gap: 20px;

  overflow: scroll;
}
#style_craze_hover-over-part-second-flex > div {
  flex: 1;
}
#style_craze_hover-over-part-second-flex > div img {
  width: 100%;
  height: 75%;
}
#style_craze_hover-over-part-findmore {
  display: flex;
  justify-content: flex-end;
}
#style_craze_hover-over-part-findmore > div {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 91, 141);
  border: 1px solid rgb(241, 103, 149);
  border-radius: 3px;
  position: relative;

  right: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  #style_craze_header {
    width: 100%;
    height: 100px;
  }
  #style_craze_header > div {
    width: 100%;
  }
  #style_craze_header > div > div {
    width: 100%;
  }
  .second_header_categories_middle_line {
    background-color: gray;
    border: 1px solid gray;
    border-top: 0px;
    width: 100%;
    position: relative;
    right: 20px;
  }

  #second_header_categories {
    display: grid;
    /* border: 10px solid green; */
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    text-transform: capitalize;
    padding-left: 10px;
    border: 2px solid red;
    position: relative;
    left: -1000px;

    color: gray;
  }
  #second_header_categories > div {
    background-color: white;
    padding: 4px;
    display: flex;
  }
  #second_header_categories > div > div {
    width: 200%;
  }
  #first_header_logo {
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(2, 70%);

    justify-content: center;
  }
  #first_header_logo > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #first_header_logo input {
    width: 70%;
    height: 30px;

    /* position: relative;
      top: 10px; */
  }
  #first_header_logo img {
    width: 50%;
    height: 20px;
    position: static;
  }
  #first_header_logo > div:nth-child(3) {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
  }

  #first_header_logo > div:nth-child(3) {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 5px;
  }
  #first_header_logo > div:nth-child(1) img {
    width: 100%;
    height: 100%;
    padding-left: 40px;
  }
  #style_craze_menu {
    visibility: visible;
  }
}
